<div class='main'>
  <h2 class='subtitle'>Our agents</h2>
  <div class='agents-container'>
    <div class='agent-card'>
      <div class='agent-img'>
        <img src='./assets/agent.jpg' alt='agent' />
      </div>
      <div class='agent-content'>
        <h3>Agent name</h3>
        <p class='description'>Description</p>
        <a href='tel:0000000000' class='phone-number'>0000000000</a>
      </div>
    </div>
    <div class='agent-card'>
      <div class='agent-img'>
        <img src='./assets/agent.jpg' alt='agent' />
      </div>
      <div class='agent-content'>
        <h3>Agent name</h3>
        <p class='description'>Description</p>
        <a href='tel:0000000000' class='phone-number'>0000000000</a>
      </div>
    </div>
    <div class='agent-card'>
      <div class='agent-img'>
        <img src='./assets/agent.jpg' alt='agent' />
      </div>
      <div class='agent-content'>
        <h3>Agent name</h3>
        <p class='description'>Description</p>
        <a href='tel:0000000000' class='phone-number'>0000000000</a>
      </div>
    </div>
    <div class='agent-card'>
      <div class='agent-img'>
        <img src='./assets/agent.jpg' alt='agent' />
      </div>
      <div class='agent-content'>
        <h3>Agent name</h3>
        <p class='description'>Description</p>
        <a href='tel:0000000000' class='phone-number'>0000000000</a>
      </div>
    </div>
    <div class='agent-card'>
      <div class='agent-img'>
        <img src='./assets/agent.jpg' alt='agent' />
      </div>
      <div class='agent-content'>
        <h3>Agent name</h3>
        <p class='description'>Description</p>
        <a href='tel:0000000000' class='phone-number'>0000000000</a>
      </div>
    </div>
    <div class='agent-card'>
      <div class='agent-img'>
        <img src='./assets/agent.jpg' alt='agent' />
      </div>
      <div class='agent-content'>
        <h3>Agent name</h3>
        <p class='description'>Description</p>
        <a href='tel:0000000000' class='phone-number'>0000000000</a>
      </div>
    </div>
    <div class='agent-card'>
      <div class='agent-img'>
        <img src='./assets/agent.jpg' alt='agent' />
      </div>
      <div class='agent-content'>
        <h3>Agent name</h3>
        <p class='description'>Description</p>
        <a href='tel:0000000000' class='phone-number'>0000000000</a>
      </div>
    </div>
    <div class='agent-card'>
      <div class='agent-img'>
        <img src='./assets/agent.jpg' alt='agent' />
      </div>
      <div class='agent-content'>
        <h3>Agent name</h3>
        <p class='description'>Description</p>
        <a href='tel:0000000000' class='phone-number'>0000000000</a>
      </div>
    </div>
    <div class='agent-card'>
      <div class='agent-img'>
        <img src='./assets/agent.jpg' alt='agent' />
      </div>
      <div class='agent-content'>
        <h3>Agent name</h3>
        <p class='description'>Description</p>
        <a href='tel:0000000000' class='phone-number'>0000000000</a>
      </div>
    </div>
  </div>
</div>