<form action='/user/create' method='post'>
  <input type='text' name='mail' placeholder='mail' />
  <input type='text' name='password' placeholder='password' />
  <input type='submit' value='submit' />
</form>