<html lang='fr'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Real Estate Gig</title>
    <link
      rel='shortcut icon'
      href='../assets/favicon.png'
      type='image/x-icon'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='../css/dashboard.css' />
    <script defer src='../js/modalAgent.js'></script>
    <script defer src='../js/updateAgent.js'></script>
  </head>
  <body>
    <div class='container-left'>
      <div class='container-logo'>
        <img src='../assets/logo.svg' alt='logo' />
      </div>
      <div class='container-menu'>
        <div class='container-menu-item'>
          <a href='/admin'>Proprietés</a>
        </div>
        <div class='container-menu-item'>
          <a href='/admin/blog'>Articles</a>
        </div>
        <div class='container-menu-item'>
          <a href='/admin/agents'>Agents</a>
        </div>
        <div class='container-menu-item'>
          <a href='/'>Retour</a>
        </div>
      </div>
    </div>
    <div class='container-right'>
      {{{body}}}
    </div>
  </body>
</html>